@import '../../../styles/settings.scss';

.component {
  margin-bottom: ($base-size * 3);
}

.title {
  margin-bottom: ($base-size * 2);
}

.input, .dropdown {
  width: 80%;
  border: 1px solid lighten($color-dark, 60%);
  padding: ($base-size / 2);
  &Small {
    width: 30%;
    margin-right: 10px;
  }
  &Medium {
    width: 50%;
  }
}

.icon {
  cursor: pointer;
  width: 80%;

  i {
    padding-right: ($base-size / 2);
  }

  &Active {
    background: $color-primary;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.custom {
  cursor: pointer;
  padding: 20px 50px;;
  border: 0;
  border-radius: 4px;
  background-color: #216ba5;
  font: inherit;
  color: #fff;
}
